<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicorDeploymentAgent.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <EpicorDeploymentAgent.Settings>
            <setting name="DropPath" serializeAs="String">
                <value>C:\temp\Deploy</value>
            </setting>
            <setting name="EpicorUser" serializeAs="String">
                <value>deploy</value>
            </setting>
            <setting name="EpicorPassword" serializeAs="String">
                <value>deploy</value>
            </setting>
            <setting name="EpicorCompany" serializeAs="String">
                <value>C001</value>
            </setting>
            <setting name="EpicorProdSysConfigs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Epicor\ERP10.2Client\Client\config\EpicorPilot10_SSL_NONSSO.sysconfig</string>
                        <string>C:\Epicor\ERP10.2Client\Client\config\EpicorTest10_SSL_NONSSO.sysconfig</string>
                        <string>C:\Epicor\ERP10.2Client\Client\config\EpicorTrain10_SSL_NONSSO.sysconfig</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EpicorSolutionPathProd" serializeAs="String">
                <value>C:\Epicor\ERP10.2Client\Client\Solution.exe</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="EpicorSolutionPathDev" serializeAs="String">
                <value>C:\Epicor\ERP10.2Client_Dev\Client\Solution.exe</value>
            </setting>
            <setting name="EpicorDevSysConfigs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\epicor\ERP10.2Client\SG_Development\Client\config\EpicorE_SSL.sysconfig</string>
                    </ArrayOfString>
                </value>
            </setting>
        </EpicorDeploymentAgent.Settings>
    </applicationSettings>
</configuration>